*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    margin: 0rem ;
    --bs-border-width: 3px;
    color: rgb(137, 81, 20);
    opacity: .90;
  }

header {
    background-image: url("fon.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: rgba(181, 171, 161, 0.5);
    background-blend-mode: multiply;
    }
   
   .navbar.navbar-expand-lg.bg-body-tertiary {
       --bs-bg-opacity: none;
   }
   
   .navbar-brand {
       color: white;
       font-size: 25px;
   }
   
   .navbar-brand:hover{
       color: rgb(255, 255, 255);
   }

   .nav-link {
    font-size: 18px;
    margin-left: 40px;
	color: #ffffff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.nav-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgb(206, 180, 149); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.nav-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(206, 180, 149); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

   .nav-link:hover {
       color: rgb(255, 255, 255);
   }
   
   .heading1, .heading2, .heading3{
    text-align: center;
    position: static; 
    color: #ffffff;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
   }

   .heading2, .heading3 {
    margin-top: 0px;
   }

   .btn{
    color: #ffffff;
    font-size: 40px;
    margin-left: 0px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    border: solid 2px;
    display: block;
    margin: 0 auto;
   }
  
   .btn:hover {
    background-color: rgb(231, 231, 231);
   }

   .about {
    background-color: rgb(206, 180, 149);
   }
   
   .About_us_photo {
    margin-top: 150px;
    border-radius: 200px;
    width: 400px;
    height: 400px;
    }

   .about_us, .about_us1 {
    color: #ffffff;
    font-size: 50px;
    margin-top: 160px;
    margin-left: 40px;
    font-family: 'Marck Script', cursive;
    }

   .info_about_us, .info_about_us2 { 
    color: #ffffff;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 150px;
    }
   
    .class {
        background-color: rgb(206, 180, 149); 
        padding: 0px;
    }

    .master_class {
        font-size: 70px;
        color: #ffffff;
        margin-top: 50px;
        margin-left: 470px;
    }

    .adult, .children, .Individually.and.pairs {
        font-size: 45px;
        color: #ffffff;
        margin-top: 40px;
        margin-left: 610px; 
        margin-bottom: 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .class1, .class2 {
        object-fit: cover;
        border-radius: 50px;
        margin-top: 50px;  
        margin-left: 130px;
        width: 450px;
        height: 350px;
    }

    .name_master_class {
        color: #ffffff;
        text-align: center;
        font-size: 30px;
        width: 400px;
        margin-left: 160px;
        margin-top: 20px;
    }

    .time_and_price {
        text-align: center;
        font-size: 25px;
        width: 400px;
        margin-left: 155px;
        margin-top: 20px;
        margin-bottom: 0px;
        color: #ffffff;
    }

    .description, .description2 {
        text-align: center;
        font-size: 17px;
        width: 350px;
        margin-left: 190px;
        margin-top: 10px; 
        margin-bottom: 0px;
        color: #ffffff;
    }

    .children {
        margin-top: 20px;
        margin-left: 640px;
    }

    .Individually.and.pairs {
        margin-left: 470px;
    }

    .description2 {
        margin-bottom: 100px;
    }

    .present {
        width: 450px;
        height: 450px;
        margin-top: 150px;
        margin-left: 70px;
    }

    .hand {
        background-color: rgb(206, 180, 149);
        padding-bottom: 100px;
    }

    .products_of_our_guests {
        padding-top: 100px;
        color: #ffffff;
        font-size: 70px;
        font-family: 'Marck Script', cursive;
        text-align: center;
        margin-left: 165px;
        width: 1000px;
    }

    /* Слайдер: */
.slider{
    width: 800px;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 500px;
    margin-top: 50px;
    margin-left: 255px;
    margin-bottom: 100px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.forma {
    background-color: rgb(206, 180, 149);
    padding-bottom: 100px;
    padding-top: 100px;
}

.leave_a_request {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-family: 'Marck Script', cursive;
}

.col-md-3 {
    --bs-gutter-x: 7rem;
    max-width: 30%;
}

.form-control, .form-select {
    width: 250px;
    margin-top: 50px;
    height: 50px;
} 

.btn_two {
    color: #ffffff;
    font-size: 40px;
    border: solid 2px;
    width: 100%;
}

a{
    --bs-link-color-rgb:#000000;
    text-decoration:none;
}

a:hover {
    color: #6c6b6b;
}

.form-control:disabled {
    background-color: white;
}

.map {
    padding-top: 100px;
    background-color: rgb(206, 180, 149);
    padding-bottom: 100px;
}

.name_map {
    color: #ffffff;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 100px;
}

.adres_map {
    color: #ffffff;
    font-size: 27px;
    margin-top: 10px;
    margin-left: 100px;
}

.icon1 {
    width: 40px;
    height: 40px;
    margin-left: 100px;
}

.icon2 {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.icon3 {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

@media (max-width: 1025px) {
    .heading1, .heading2, .heading3{
        font-size: 70px;
        margin-top: 100px;
    }

    .heading2, .heading3{
        margin-top: 0px;
    }

    
    .About_us_photo {
        margin-top: 120px;
        object-fit: cover;
        width: 300px;
        height: 300px;
    }

    .about_us {
        font-size: 45px;
        margin-left: 10px;
        margin-top: 50px;
    }
    
    .info_about_us { 
        font-size: 30px;
        margin-top: 10px;
        margin-left: 10px;  
        margin-bottom: 50px;
    }

    .master_class {
        font-size: 45px;
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
        padding-top: 50px;
    }

    .adult, .children, .Individually.and.pairs {
        font-size: 40px;
        margin-top: 30px;
        text-align: center;
        margin-left: 0px;
        padding-bottom: 40px;
    }

    .class1, .class2 {
        border-radius: 50px; 
        width: 100%;
        margin: 0 auto;
        margin-left: 0px;
        height:350px;
    }

    .name_master_class {
        margin: 0 auto;
        color: #ffffff;
        font-size: 30px;
        width: 400px;
        margin-top: 20px;
    }

    .time_and_price {
        margin: 0 auto;
        font-size: 22px;
        width: 300px;
        margin-top: 20px;
    }

    .description, .description2 {
        margin: 0 auto;
        font-size: 20px;
        width: 400px;
        margin-top: 10px; 
        padding-bottom: 50px;
    }

    .children {
        margin: 0 auto;
        margin-top: 30px;
    }

    .Individually.and.pairs {
        margin: 0 auto;
        margin-top: 30px;
    }

    .description2 {
        margin-bottom: 50px;
    }

    .present {
        margin-top: 60px;
        object-fit: cover;
        width: 350px;
        height: 350px;
        margin-left: 0px;
    }

    .about_us1 {
        font-size: 40px;
        margin-left: 10px;
        margin-top: 50px;
    }

    .info_about_us2 {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;  
        margin-bottom: 50px;
    }

    .products_of_our_guests {
        font-size: 50px;
        margin-left: 50px;
        padding-top: 50px;  
        width: 900px;
    }

    .item {
        width: 100%;
        height: 600px;
        margin-left: 0px;
    }

    .slider {
        width: 100%; 
        height: 300px;
        margin-top: 30px;
        margin-bottom: 120px;
        margin-left: 225px;
    }

    .slider .item img {
        height: 350px;
    }

    .slider .previous, .slider .next {
        top: 50%;
    }

    .slider, .next {
        right: none;
    }

    .forma {
        padding-top: 50px;
        padding-bottom: 50px;
    }

   .leave_a_request {
        font-size: 50px;
        margin: 0 auto;
   }

    .col-md-3 {
        --bs-gutter-x: 18rem;
        max-width: 80%;
        width: 40%;
    }

    .map {
        padding: 50px;
    }

    .name_map {
        text-align: center;
        margin-top: 120px;
        font-size: 40px;
        margin-left: 0px;
        margin-right: 50px;
    }

    .adres_map {
        font-size: 20px;
        text-align: center;
        margin-left: 0px;
        margin-right: 40px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 55px;
    }

    .a {
        margin-top: 40px;
        margin-left: 0px;
    }
}  

@media (max-width: 992px) {

}

@media (max-width: 426px){
    .nav-link {
        margin-left: 0px;
    }

    .heading1, .heading2, .heading3{
        font-size: 40px;
        margin-top: 100px;
    }

    .heading2, .heading3{
        margin-top: 0px;
    }

    .btn {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 101px;
    }

    .About_us_photo {
        margin-top: 70px;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .about_us {
        font-size: 35px;
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .info_about_us { 
        font-size: 20px;
        margin-top: 10px;
        margin-left: 0px;  
        margin-bottom: 50px;
    }

    .master_class {
        font-size: 40px;
        color: #ffffff;
        margin-top: 0px;
        margin-left: 0px;
        text-align: center;
        padding-top: 50px;
    }

    .adult, .children, .Individually.and.pairs {
        font-size: 30px;
        color: #ffffff;
        margin-top: 30px;
        text-align: center;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .class1, .class2 {
        border-radius: 50px; 
        width: 100%;
        margin: 0 auto;
        margin-left: 0px;
        height: 230px;
    }

    .name_master_class {
        margin: 0 auto;
        color: #ffffff;
        font-size: 25px;
        width: 300px;
        margin-top: 20px;
    }

    .time_and_price {
        margin: 0 auto;
        font-size: 18px;
        width: 300px;
        margin-top: 20px;
    }

    .description, .description2 {
        margin: 0 auto;
        font-size: 17px;
        width: 300px;
        margin-top: 10px; 
        padding-bottom: 50px;
    }

    .children {
        margin: 0 auto;
        margin-top: 30px;
    }

    .Individually.and.pairs {
        margin: 0 auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .description2 {
        margin-bottom: 50px;
    }

    .present {
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-top: -780px;
        margin-bottom: 50px;
    }

    .about_us1 {
        font-size: 35px;
        margin-left: 0px;
        margin-top: 330px;
    }

    .info_about_us2 {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 0px;  
        margin-bottom: 50px;
    }

    .products_of_our_guests {
        font-size: 30px;
        margin-left: 0px;
        text-align: left;
        width: 103%;
        padding-top: 50px;  
    }

    .item {
        width: 100%;
        height: 290px;
        margin-left: 0px;
    }

    .slider {
        margin-left: 0px;
        width: 100%; 
        height: 300px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .slider .item img {
        height: 250px;
    }

    .slider .previous, .slider .next {
        top: 40%;
    }

    .slider, .next {
        right: none;
    }

    .forma {
        padding-top: 50px;
        padding-bottom: 30px;
    }

   .leave_a_request {
        font-size: 35px;
        margin: 0 auto;
   }

    .col-md-3 {
        --bs-gutter-x: 6rem;
        max-width: 60%;
    }

    .map {
        padding: 50px;
    }

    .name_map {
        text-align: center;
        margin-top: 0px;
        font-size: 35px;
        margin-left: 0px;
    }

    .adres_map {
        font-size: 15px;
        text-align: center;
        margin-left: 0px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 30px;
    }

    .a {
        margin-top: 40px;
        margin-left: 0px;
    }
}


@media (max-width: 376px){
    .nav-link {
        margin-left: 0px;
    }

    .heading1, .heading2, .heading3{
        font-size: 35px;
        margin-top: 100px;
    }

    .heading2, .heading3{
        margin-top: 0px;
    }

    .btn {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 0px;
        display: block;
        margin: 0 auto;

    }

    .About_us_photo {
        margin-top: 70px;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .about_us {
        font-size: 35px;
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .info_about_us { 
        font-size: 20px;
        margin-top: 10px;
        margin-left: 0px;  
        margin-bottom: 50px;
    }

    .master_class {
        font-size: 40px;
        color: #ffffff;
        margin-top: 0px;
        margin-left: 0px;
        text-align: center;
        padding-top: 50px;
    }

    .adult, .children, .Individually.and.pairs {
        font-size: 30px;
        color: #ffffff;
        margin-top: 30px;
        text-align: center;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .class1, .class2 {
        border-radius: 50px; 
        width: 100%;
        margin: 0 auto;
        margin-left: 0px;
        height: 230px;
    }

    .name_master_class {
        margin: 0 auto;
        color: #ffffff;
        font-size: 25px;
        width: 300px;
        margin-top: 20px;
    }

    .time_and_price {
        margin: 0 auto;
        font-size: 18px;
        width: 300px;
        margin-top: 20px;
    }

    .description, .description2 {
        margin: 0 auto;
        font-size: 17px;
        width: 300px;
        margin-top: 10px; 
        padding-bottom: 50px;
    }

    .children {
        margin: 0 auto;
        margin-top: 30px;
    }

    .Individually.and.pairs {
        margin: 0 auto;
    }

    .description2 {
        margin-bottom: 50px;
    }

    .present {
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-top: -780px;
        margin-bottom: 50px;
    }

    .about_us1 {
        font-size: 35px;
        margin-left: 0px;
        margin-top: 330px;
    }

    .info_about_us2 {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 0px;  
        margin-bottom: 50px;
    }

    .products_of_our_guests {
        font-size: 30px;
        margin-left: 0px;
        text-align: left;
        width: 103%;
        padding-top: 50px;  
    }

    .item {
        width: 100%;
        height: 290px;
        margin-left: 0px;
    }

    .slider {
        margin-left: 0px;
        width: 100%; 
        height: 300px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .slider .item img {
        height: 250px;
    }

    .slider .previous, .slider .next {
        top: 40%;
    }

    .slider, .next {
        right: none;
    }

    .forma {
        padding-top: 50px;
        padding-bottom: 30px;
    }

   .leave_a_request {
        font-size: 35px;
        margin: 0 auto;
   }

    .col-md-3 { 
        --bs-gutter-x: 20rem;
        padding-left: 50px;
    }

    .map {
        padding: 50px;
    }

    .name_map {
        text-align: center;
        margin-top: 0px;
        font-size: 35px;
        margin-left: 0px;
    }

    .adres_map {
        font-size: 15px;
        text-align: center;
        margin-left: 0px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 30px;
    }

    .a {
        margin-top: 40px;
        margin-left: 0px;
    }
}

@media (max-width: 361px){
    .col-md-3 { 
        padding-left: 40px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 25px;
    }
 }

@media (max-width: 351px){
    .col-md-3 { 
        padding-left: 35px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 25px;
    }
 }

@media (max-width: 341px){
    .col-md-3 { 
        padding-left: 25px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 21px;
    }
 }

@media (max-width: 331px){
    .col-md-3 { 
        padding-left: 25px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 17px;
    }
 }

@media (max-width: 321px){
    .col-md-3 { 
        padding-left: 25px;
    }

    .icon1, .icon2, .icon3 {
        margin-left: 14px;
    }

    .a {
        margin-top: 40px;
        margin-left: 0px;
    } 
    

}
