*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    margin: 0rem ;
    --bs-border-width: 3px;
    color: rgb(137, 81, 20);
    opacity: .90;
  }

header {
    background-image: url("fon.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: rgba(181, 171, 161, 0.5);
    background-blend-mode: multiply;
    }
   
   .navbar.navbar-expand-lg.bg-body-tertiary {
       --bs-bg-opacity: none;
   }
   
   .navbar-brand {
       color: white;
       font-size: 25px;
   }
   
   .navbar-brand:hover{
       color: rgb(255, 255, 255);
   }

   .nav-link {
    font-size: 18px;
    margin-left: 40px;
	color: #ffffff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.nav-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgb(206, 180, 149); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.nav-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(206, 180, 149); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

   .nav-link:hover {
       color: rgb(255, 255, 255);
   }
   
   .heading{
    text-align: center;
    position: absolute; 
    color: #ffffff;
    font-size: 70px;
    margin-left: 370px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    width: 700px;
   }

   .btn{
    color: #ffffff;
    font-size: 40px;
    margin-left: 570px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 370px;
    border: solid 2px;
    width: 300px;
   }
  
   .btn:hover {
    background-color: rgb(231, 231, 231);
   }

   .about {
    background-color: rgb(206, 180, 149);
   }
   
   .About_us_photo {
    margin-top: 150px;
    border-radius: 200px;
    width: 400px;
    height: 400px;
    }

   .about_us {
    color: #ffffff;
    font-size: 45px;
    margin-top: 160px;
    margin-left: 40px;
    font-family: Segoe script;
    }

   .info_about_us { 
    color: #ffffff;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 150px;
    }
   
    .class {
        background-color: rgb(206, 180, 149); 
        padding: 0px;
    }

    .master_class {
        font-size: 70px;
        color: #ffffff;
        margin-top: 50px;
        margin-left: 470px;
    }

    .adult, .children, .Individually.and.pairs {
        font-size: 45px;
        color: #ffffff;
        margin-top: 40px;
        margin-left: 610px; 
        margin-bottom: 0px;
    }

    .class1, .class2 {
        border-radius: 50px;
        margin-top: 50px;  
        margin-left: 130px;
        width: 450px;
        height: 350px;
    }

    .name_master_class {
        color: #ffffff;
        text-align: center;
        font-size: 30px;
        width: 400px;
        margin-left: 160px;
        margin-top: 20px;
    }

    .time_and_price {
        text-align: center;
        font-size: 25px;
        width: 400px;
        margin-left: 155px;
        margin-top: 20px;
        margin-bottom: 0px;
        color: #ffffff;
    }

    .description, .description2 {
        text-align: center;
        font-size: 17px;
        width: 350px;
        margin-left: 190px;
        margin-top: 10px; 
        margin-bottom: 0px;
        color: #ffffff;
    }

    .children {
        margin-top: 20px;
        margin-left: 640px;
    }

    .Individually.and.pairs {
        margin-left: 470px;
    }

    .description2 {
        margin-bottom: 100px;
    }

    .present {
        width: 450px;
        height: 450px;
        margin-top: 150px;
        margin-left: 70px;
    }

    .hand {
        background-color: rgb(206, 180, 149);
        padding-bottom: 100px;
    }

    .products_of_our_guests {
        padding-top: 100px;
        color: #ffffff;
        font-size: 55px;
        font-family: Segoe script;
        text-align: center;
    }

    /* Слайдер: */
.slider{
    width: 800px;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 500px;
    margin-top: 50px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.forma {
    background-color: rgb(206, 180, 149);
    padding-bottom: 100px;
    padding-top: 100px;
}

.leave_a_request {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-family: Segoe script;
}

.col-md-3 {
    --bs-gutter-x: 19rem;
    max-width: 20%;
}

.form-control, .form-select {
    width: 250px;
    margin-top: 50px;
    height: 50px;
} 

.btn_two {
    color: #ffffff;
    font-size: 40px;
    border: solid 2px;
    width: 100%;
}

a{
    --bs-link-color-rgb:#000000;
    text-decoration:none;
}

a:hover {
    color: #6c6b6b;
}

.form-control:disabled {
    background-color: white;
}

.map {
    padding-top: 100px;
    background-color: rgb(206, 180, 149);
    padding-bottom: 100px;
}

.name_map {
    color: #ffffff;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 120px;
}

.adres_map {
    color: #ffffff;
    font-size: 27px;
    margin-top: 20px;
    margin-left: 120px;
}

    @media (max-width: 1300px){
        header {
            background-image: url("fon.png");
            height: 100vh;
            background-size: cover;
            background-position: center;
            width: 100%;
            background-color: rgba(181, 171, 161, 0.5);
            background-blend-mode: multiply;
           }
           
           .navbar.navbar-expand-lg.bg-body-tertiary {
               --bs-bg-opacity: none;
           }
           
           .navbar-brand {
               color: white;
               font-size: 25px;
           }
           
           .navbar-brand:hover{
               color: rgb(255, 241, 224);
           }
           
           .nav-link {
               color: white;
               font-size: 18px;
               margin-left: 40px;
           }
           
           .nav-link:hover {
               color: rgb(255, 241, 224);
           }
           
           h1{
            text-align: center;
            position: absolute; 
            color: #ffffff;
            font-size: 60px;
            margin-left: 140px;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 100px;
            width: 800px;
           }
        
           .btn.a {
            color: #ffffff;
            font-size: 30px;
            margin-left: 385px;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 330px;
            border: solid 2px;
            width: 300px;
           }
           
           .btn:hover {
            background-color: rgb(207, 207, 203);
           }
        
           .modal-dialog {
            max-width: 600px;
            --bs-modal-header-padding: 2rem 1rem;
            --bs-modal-footer-gap: 1rem;
           }
        
           .modal-content {
            background-color: rgb(207, 207, 203);
           }
        
           .modal-header {
            border-bottom: none;
           }
        
           .modal-title.fs-5 {
            color: #645e5e;
            margin: 0px;
            font-size: 3rem!important;
            padding-right: 450px;
           }
        
           .modal-body {
            font-size: 25px;
            padding: 30px;
           }
        
           .btn.btn-b {
            font-size: 20px;
            background-color: #fe8a8a;
           }
        
           .btn.btn-c {
            font-size: 20px;
            background-color: #82e87c;
           }
        
           .btn.btn-b:hover {
            background-color: #fe8a8a;
           }
        
           .btn.btn-c:hover {
            background-color: #82e87c;
           }
        
           .about {
            background-color: rgb(206, 180, 149);
           }
           
           .carousel-inner {
            margin-top: 200px;
            border-radius: 200px;
            width: 350px;
            height: 350px;
            }
        
           .about_us {
            color: #ffffff;
            font-size: 45px;
            margin-top: 130px;
            margin-left: 80px;
            }
        
           p { 
            color: #ffffff;
            font-size: 32px;
            margin-top: 20px;
            margin-left: 80px;
            }
    }

    @media (max-width: 1024px){
        .nav-link {
            margin-left: 0px;
        }
    
        h1{
            font-size: 50px;
            margin-left: 190px;
            margin-top: 120px;
            width: 500px;
            text-align: center;
        }
    
       .btn.a {
        font-size: 30px;
        margin-top: 310px;
        margin-left: 340px;
        width: 200px;
       }
    
       .modal-dialog {
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-footer-gap: 1rem;
       }
    
       .modal-title.fs-5 {
        font-size: 2rem!important;
        padding-right: 40px;
        padding-top: 10px;
       }
    
       .modal-body {
        font-size: 20px;
        padding: 20px;
       }
    
       .btn.btn-b {
        font-size: 15px;
       }
    
       .btn.btn-c {
        font-size: 15px;
       }
    
        .carousel-inner {
            margin-top: 100px;
            width: 250px;
            height: 250px;
        }
    
        .about_us {
            font-size: 35px;
            margin-left: 50px;
            margin-top: 90px;
        }
        
        p { 
            font-size: 23px;
            margin-top: 10px;
            margin-left: 50px; 
            margin-bottom: 200px;
        }
    }

    @media (max-width: 850px){
        .nav-link {
            margin-left: 0px;
        }
    
        h1{
            font-size: 50px;
            margin-left: 130px;
            margin-top: 120px;
            width: 500px;
            text-align: center;
        }
    
       .btn.a {
        font-size: 30px;
        margin-top: 310px;
        margin-left: 275px;
        width: 200px;
       }
    
       .modal-dialog {
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-footer-gap: 1rem;
       }
    
       .modal-title.fs-5 {
        font-size: 2rem!important;
        padding-right: 40px;
        padding-top: 10px;
       }
    
       .modal-body {
        font-size: 20px;
        padding: 20px;
       }
    
       .btn.btn-b {
        font-size: 15px;
       }
    
       .btn.btn-c {
        font-size: 15px;
       }
    
        .carousel-inner {
            margin-top: 130px;
            width: 250px;
            height: 250px;
        }
    
        .about_us {
            font-size: 35px;
            margin-left: 50px;
            margin-top: 90px;
        }
        
        p { 
            font-size: 23px;
            margin-top: 10px;
            margin-left: 50px; 
            margin-bottom: 200px;
        }
    }


    @media (max-width: 768px){
        .nav-link {
            margin-left: 0px;
        }
    
        h1{
            font-size: 50px;
            margin-left: 80px;
            margin-top: 120px;
            width: 500px;
            text-align:left;
        }
    
       .btn.a {
        font-size: 30px;
        margin-top: 310px;
        margin-left: 80px;
        width: 200px;
       }
    
       .modal-dialog {
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-footer-gap: 1rem;
       }
    
       .modal-title.fs-5 {
        font-size: 2rem!important;
        padding-right: 40px;
        padding-top: 10px;
       }
    
       .modal-body {
        font-size: 20px;
        padding: 20px;
       }
    
       .btn.btn-b {
        font-size: 15px;
       }
    
       .btn.btn-c {
        font-size: 15px;
       }
    
        .carousel-inner {
            margin-top: 110px;
            width: 250px;
            height: 250px;
        }
    
        .about_us {
            font-size: 35px;
            margin-left: 20px;
            margin-top: 90px;
        }
        
        p { 
            font-size: 23px;
            margin-top: 20px;
            margin-left: 20px; 
        }
    }


    @media (max-width: 650px){
        .nav-link {
            margin-left: 0px;
        }
    
        h1{
            font-size: 45px;
            margin-left: 70px;
            margin-top: 120px;
            width: 500px;
            text-align:left;
        }
    
       .btn.a {
        font-size: 30px;
        margin-top: 300px;
        margin-left: 70px;
        width: 200px;
       }
    
       .modal-dialog {
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-footer-gap: 1rem;
       }
    
       .modal-title.fs-5 {
        font-size: 2rem!important;
        padding-right: 40px;
        padding-top: 10px;
       }
    
       .modal-body {
        font-size: 20px;
        padding: 20px;
       }
    
       .btn.btn-b {
        font-size: 15px;
       }
    
       .btn.btn-c {
        font-size: 15px;
       }
    
        .carousel-inner {
            margin-top: 50px;
            width: 250px;
            height: 250px;
        }
    
        .about_us {
            font-size: 35px;
            margin-left: 20px;
            margin-top: 20px;
        }
        
        p { 
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;  
        }
    }

    @media (max-width: 576px){
        .nav-link {
            margin-left: 0px;
        }
    
        h1{
            font-size: 40px;
            margin-left: 50px;
            margin-top: 120px;
            width: 340px;
            text-align:left;
        }
    
       .btn.a {
        font-size: 25px;
        margin-top: 270px;
        margin-left: 50px;
        width: 170px;
       }
    
       .modal-dialog {
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-footer-gap: 1rem;
       }
    
       .modal-title.fs-5 {
        font-size: 2rem!important;
        padding-right: 40px;
        padding-top: 10px;
       }
    
       .modal-body {
        font-size: 20px;
        padding: 20px;
       }
    
       .btn.btn-b {
        font-size: 15px;
       }
    
       .btn.btn-c {
        font-size: 15px;
       }
    
        .carousel-inner {
            margin-top: 50px;
            width: 250px;
            height: 250px;
        }
    
        .about_us {
            font-size: 35px;
            margin-left: 20px;
            margin-top: 20px;
        }
        
        p { 
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px; 
            margin-bottom: 0px; 
        }

        .master_class {
            font-size: 40px;
            color: #ffffff;
            margin-top: 100px;
            margin-left: 35px;
        }
    
        .adult, .children, .Individually.and.pairs {
            font-size: 30px;
            color: #ffffff;
            margin-top: 30px;
            margin-left: 100px;  
        }
    
        .class1, .class2 {
            border-radius: 50px;
            margin-top: 30px;  
            margin-left: 0px;
            width: 350px;
            height: 250px;
        }
    
        .aw {
            font-size: 25px;
            width: 350px;
            margin-left: 0px;
            margin-top: 20px;
        }
    
        .as {
            text-align: center;
            font-size: 20px;
            width: 350px;
            margin-left: 0px;
            margin-top: 20px;
        }
    
        .w {
            text-align: center;
            font-size: 19px;
            width: 350px;
            margin-left: 0px;
            margin-top: 10px; 
        }
    
        .children {
            margin-top: 30px;
            margin-left: 115px;
        }
    
        .Individually.and.pairs {
            text-align: center;
            margin-left: 42px;
            width: 200px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }

    @media (max-width: 400px){
        .nav-link {
            margin-left: 0px;
        }
    
        h1{
            font-size: 35px;
            margin-left: 50px;
            margin-top: 120px;
            width: 300px;
            text-align: center;
        }
    
       .btn.a {
        margin-left: 100px;
        font-size: 25px;
        margin-top: 270px;
        width: 180px;
       }
    
       .modal-dialog {
        --bs-modal-header-padding: 2rem 1rem;
        --bs-modal-footer-gap: 1rem;
       }
    
       .modal-title.fs-5 {
        text-align: center;
        font-size: 2rem!important;
        padding-top: 10px;
       }
    
       .modal-body {
        font-size: 20px;
        padding: 20px;
       }
    
       .btn.btn-b {
        font-size: 15px;
       }
    
       .btn.btn-c {
        font-size: 15px;
       }
    
        .carousel-inner {
            margin-top: 50px;
            width: 300px;
            height: 300px;
        }
    
        .about_us {
            font-size: 35px;
            margin-left: 20px;
            margin-top: 20px;
        }
        
        p { 
            font-size: 20px;
            margin-top: 10px;
            margin-left: 20px;  
            margin-bottom: 0px;
        }

        .master_class {
            font-size: 40px;
            color: #ffffff;
            margin-top: 100px;
            margin-left: 10px;
        }
    
        .adult, .children, .Individually.and.pairs {
            font-size: 30px;
            color: #ffffff;
            margin-top: 30px;
            margin-left: 75px;  
        }
    
        .class1, .class2 {
            border-radius: 50px;
            margin-top: 30px;  
            margin-left: 0px;
            width: 300px;
            height: 200px;
        }
    
        .aw {
            color: #ffffff;
            text-align: center;
            font-size: 23px;
            width: 300px;
            margin-left: 0px;
            margin-top: 20px;
        }
    
        .as {
            text-align: center;
            font-size: 18px;
            width: 300px;
            margin-left: 0px;
            margin-top: 20px;
            margin-bottom: 0px;
        }
    
        .w {
            text-align: center;
            font-size: 17px;
            width: 300px;
            margin-left: 0px;
            margin-top: 10px; 
            margin-bottom: 0px;
        }
    
        .children {
            margin-top: 30px;
            margin-left: 97px;
        }
    
        .Individually.and.pairs {
            text-align: center;
            margin-left: 42px;
            width: 200px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .master_class {
            font-size: 40px;
            color: #ffffff;
            margin-top: 100px;
            margin-left: 35px;
        }
    
        .adult, .children, .Individually.and.pairs {
            font-size: 30px;
            color: #ffffff;
            margin-top: 30px;
            margin-left: 100px;  
        }
    
        .class1, .class2 {
            border-radius: 50px;
            margin-top: 30px;  
            margin-left: 0px;
            width: 350px;
            height: 250px;
        }
    
        .aw {
            font-size: 25px;
            width: 350px;
            margin-left: 0px;
            margin-top: 20px;
        }
    
        .as {
            text-align: center;
            font-size: 20px;
            width: 350px;
            margin-left: 0px;
            margin-top: 20px;
        }
    
        .w {
            text-align: center;
            font-size: 19px;
            width: 350px;
            margin-left: 0px;
            margin-top: 10px; 
        }
    
        .children {
            margin-top: 30px;
            margin-left: 115px;
        }
    
        .Individually.and.pairs {
            text-align: center;
            margin-left: 42px;
            width: 200px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }

@media (max-width: 375px){
    .nav-link {
        margin-left: 0px;
    }

    h1{
        font-size: 35px;
        margin-left: 13px;
        margin-top: 100px;
        width: 300px;
        text-align: center;
    }

   .btn.a {
    font-size: 25px;
    margin-top: 240px;
    width: 180px;
    margin-left: 30px;
   }

   .modal-dialog {
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-footer-gap: 1rem;
   }

   .modal-title.fs-5 {
    font-size: 2rem!important;
    padding-right: 40px;
    padding-top: 10px;
   }

   .modal-body {
    font-size: 20px;
    padding: 20px;
   }

   .btn.btn-b {
    font-size: 15px;
   }

   .btn.btn-c {
    font-size: 15px;
   }

    .About_us_photo {
        margin-top: 50px;
        width: 300px;
        height: 300px;
    }

    .about_us {
        font-size: 35px;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    p { 
        font-size: 20px;
        margin-top: 10px;
        margin-left: 20px;  
        margin-bottom: 0px;
    }

    .master_class {
        font-size: 40px;
        color: #ffffff;
        margin-top: 100px;
        margin-left: 35px;
    }

    .adult, .children, .Individually.and.pairs {
        font-size: 30px;
        color: #ffffff;
        margin-top: 30px;
        margin-left: 100px;  
    }

    .class1, .class2 {
        border-radius: 50px;
        margin-top: 30px;  
        margin-left: 0px;
        width: 350px;
        height: 250px;
    }

    .aw {
        font-size: 25px;
        width: 350px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .as {
        text-align: center;
        font-size: 20px;
        width: 350px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .w {
        text-align: center;
        font-size: 19px;
        width: 350px;
        margin-left: 0px;
        margin-top: 10px; 
    }

    .children {
        margin-top: 30px;
        margin-left: 115px;
    }

    .Individually.and.pairs {
        text-align: center;
        margin-left: 42px;
        width: 200px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

@media (max-width: 362px){
    .nav-link {
        margin-left: 0px;
    }

    .heading {
        font-size: 35px;
        margin-left: 13px;
        margin-top: 100px;
        width: 300px;
        text-align: center;
    }

   .btn {
    font-size: 25px;
    margin-top: 240px;
    width: 180px;
    margin-left: 30px;
   }

   .modal-open {
    margin-right: 0px;
   }

   .modal-dialog-centered {
    display: block;
    margin-top: 150px;
    background: fixed;
   }

  /* .modal-dialog {
    --bs-modal-margin: 0
   }

   .modal-title.fs-5 {
    font-size: 2rem!important;
    padding-right: 40px;
    padding-top: 10px;
   }

   .modal-body {
    font-size: 20px;
    padding: 20px;
   }

   .btn.btn-b {
    font-size: 15px;
   }

   .btn.btn-c {
    font-size: 15px;
   }*/

    .carousel-inner {
        margin-top: 50px;
        width: 300px;
        height: 300px;
    }

    .about_us {
        font-size: 35px;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    p { 
        font-size: 20px;
        margin-top: 10px;
        margin-left: 20px;  
        margin-bottom: 0px;
    }

    .master_class {
        font-size: 40px;
        color: #ffffff;
        margin-top: 100px;
        margin-left: 10px;
    }

    .adult, .children, .Individually.and.pairs {
        font-size: 30px;
        color: #ffffff;
        margin-top: 30px;
        margin-left: 75px;  
    }

    .class1, .class2 {
        border-radius: 50px;
        margin-top: 30px;  
        margin-left: 0px;
        width: 300px;
        height: 200px;
    }

    .aw {
        color: #ffffff;
        text-align: center;
        font-size: 23px;
        width: 300px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .as {
        text-align: center;
        font-size: 18px;
        width: 300px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .w {
        text-align: center;
        font-size: 17px;
        width: 300px;
        margin-left: 0px;
        margin-top: 10px; 
    }

    .children {
        margin-top: 30px;
        margin-left: 97px;
    }

    .Individually.and.pairs {
        text-align: center;
        margin-left: 42px;
        width: 200px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}
